<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797486470835-kgjam7pvr4l91kk59p926nvfum5n09lm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797486470835-kgjam7pvr4l91kk59p926nvfum5n09lm</string>
	<key>API_KEY</key>
	<string>AIzaSyDpv3rN37-IsZSEnZtdNT6bKWDztiu8V30</string>
	<key>GCM_SENDER_ID</key>
	<string>797486470835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bustle.app</string>
	<key>PROJECT_ID</key>
	<string>bustleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bustleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:797486470835:ios:504ea9ee92da412ac3c2c6</string>
	<key>DATABASE_URL</key>
	<string>https://bustleapp-35fe0.firebaseio.com</string>
</dict>
</plist>
